<template lang="">
  <div>
    <div
      class="p-16 border-4 border-dashed border-gray-2 mt-10"
      :class="{ 'bg-green-400': isDragging }"
      @dragover="dragover"
      @dragleave="dragleave"
      @drop="drop($event)"
    >
      <input
        type="file"
        name="file"
        id="fileInput"
        class="hidden-input"
        @change="onChange($event)"
        ref="file"
      />

      <label
        for="fileInput"
        class="file-label text-center"
        :class="isDragging ? 'text-white' : 'text-gray-500'"
      >
        <div v-if="isDragging">Lepas untuk bisa meletakkan file disini</div>
        <div v-else>Letakan file disini atau <u>klik</u> untuk upload</div>

        <div class="mt-2">
          <p v-if="files.length === 0">No files uploaded</p>
          <ul v-else>
            <li v-for="(file, index) in files" :key="index">
              <strong>File name:</strong> {{ file.name }},
            </li>
          </ul>
        </div>
      </label>
    </div>

    <div class="container mx-auto mt-5">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              No
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Kode
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Nama
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Kelas
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Total Transaksi
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Poin
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Pembulatan Poin
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 w-full">
          <template v-if="listData.length > 0">
            <tr
              v-for="(item, index) in displayedData"
              :key="index"
              class="text-center"
            >
              <td class="px-6 py-4 whitespace-nowrap font-bold">
                {{ item[this.rowExcel.id] }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ item[this.rowExcel.kode] }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ item[this.rowExcel.nama] }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ item[this.rowExcel.kelas] }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ this.formatRp(item[this.rowExcel.totalTransaksi]) }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ item[this.rowExcel.totalTransaksi] / 2000 }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{
                  Math.floor(Number(item[this.rowExcel.totalTransaksi]) / 2000)
                }}
              </td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <td colspan="7" class="text-center py-4">
                <h1>Data tidak ada</h1>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

      <div class="flex justify-center mt-4 bg-white align-middle margin-0">
        <button
          @click="prevPage"
          :class="[
            'p-3',
            'm-1',
            'border-2',
            page == 1 ? 'border-gray-400 text-gray-400' : 'border-black',
          ]"
        >
          <
        </button>
        <div
          v-for="pageNumber in Math.ceil(listData.length / limit)"
          :key="pageNumber"
        >
          <template v-if="page == pageNumber">
            <button
              @click="selectPage(pageNumber)"
              class="p-3 m-1 border-2 bg-green-500 text-white"
            >
              {{ pageNumber }}
            </button>
          </template>
          <template v-else>
            <button
              @click="selectPage(pageNumber)"
              class="p-3 m-1 border-2 border-black"
            >
              {{ pageNumber }}
            </button>
          </template>
        </div>
        <!-- <div
            v-for="(pageNumber, index) in listData.slice(limitRow - 6, limitRow)"
            :key="index"
          >
            <template v-if="page == index + 1">
              <button
                @click="selectPage(index + 1)"
                class="p-3 m-1 border-2 bg-green-500 text-white"
              >
                {{ index + 1 }}
              </button>
            </template>
            <template v-else>
              <button
                @click="selectPage(index + 1)"
                class="p-3 m-1 border-2 border-black"
              >
                {{ index + 1 }}
              </button>
            </template>
          </div> -->
        <button
          @click="nextPage"
          :class="[
            'p-3',
            'm-1',
            'border-2',
            page == Math.ceil(listData.length / limit)
              ? 'border-gray-400 text-gray-400'
              : 'border-black',
          ]"
        >
          >
        </button>
      </div>
    </div>

    <div class="w-full flex justify-center">
      <a
        href="https://www.dropbox.com/scl/fi/ckpspl425wfmua933s5c7/data.xlsx?rlkey=5gpdjkuetdomn08xtymuzuzsl&dl=0"
        class="bg-green-400 p-5 m-4 hover:text-white hover:bg-green-700"
        download
      >
        Download sample data file
      </a>

      <button
        @click="exportAllData"
        class="bg-green-400 p-5 m-4 hover:text-white hover:bg-green-700"
      >
        Export semua data
      </button>

      <button
        @click="exportSortClassData"
        class="bg-green-400 p-5 m-4 hover:text-white hover:bg-green-700"
      >
        Export data sesuai dengan kelas
      </button>
    </div>
  </div>
</template>
<script>
import * as XLSX from "xlsx";
// import dataSampel from "../assets/files/data.xlsx";

export default {
  name: "ExportCSV",
  components: {},
  data() {
    return {
      rowExcel: {
        kode: 3,
        totalTransaksi: 4,
        nama: 1,
        kelas: 2,
        id: 0,
      },
      allClass: {},
      isDragging: false,
      acceptFormat: ["xlsx", "csv", "xls"],
      files: [],
      limitRow: 6,
      page: 1,
      limit: 10,
      listData: [],
    };
  },
  computed: {
    displayedPageNumbers() {
      const start = (Math.ceil(this.page / 6) - 1) * 6 + 1;
      const end = Math.min(
        start + 5,
        Math.ceil(this.listData.length / this.limitRow)
      );
      return Array.from({ length: end - start + 1 }, (_, i) => start + i);
    },
    totalPages() {
      return Math.ceil(this.listData.length / this.limit);
    },
    displayedData() {
      const startIndex = (this.page - 1) * this.limit;
      const endIndex = Math.min(startIndex + this.limit, this.listData.length);
      return this.listData.slice(startIndex, endIndex);
    },
  },
  methods: {
    pushToClass(value) {
      if (!this.allClass.hasOwnProperty(value)) {
        this.allClass[value] = [];
      }
    },
    onChange(e) {
      if (this.files.length > 0) this.files = [];

      const files = e.target.files ? e.target.files : null;

      const splitFormat = files[0].name.split(".");
      if (!this.acceptFormat.includes(splitFormat[splitFormat.length - 1])) {
        console.log("Format file harus xlsx, xls, dan csv");
      }

      if (!files) {
        console.log("Gagal upload file");
      }

      const reader = new FileReader();
      reader.onload = (e) => {
        /* Parse data */
        const bstr = e.target.result;
        const wb = XLSX.read(bstr, { type: "binary" });

        let dataCustomer = [];
        let dataTransaction = [];

        /* Iterate over each sheet */
        wb.SheetNames.forEach((sheetName) => {
          /* Get sheet */
          const ws = wb.Sheets[sheetName];

          /* Convert array of arrays */
          let data = XLSX.utils.sheet_to_json(ws, { header: 1 });

          if (sheetName !== "master-point" && sheetName !== "RESUME") {
            dataCustomer.push(sheetName, ...data.slice(2));
          }

          if (sheetName === "master-point") {
            dataTransaction.push(...data.slice(22));
          }
        });

        let temp = [];
        for (let i = 0; i < dataTransaction.length; i++) {
          let kelas = 0;
          for (let b = 0; b < dataCustomer.length; b++) {
            /* get kelas */
            if (!Array.isArray(dataCustomer[b])) {
              kelas = dataCustomer[b];
              this.pushToClass(dataCustomer[b]);
              continue;
            }

            /* get core data */
            if (
              dataCustomer[b][1] &&
              dataTransaction[i][3] &&
              dataCustomer[b][1] === dataTransaction[i][3]
            ) {
              if (Array.isArray(dataCustomer[b])) {
                const poin = dataTransaction[i][9] / 2000;
                const pembulatan_poin = Math.floor(
                  dataTransaction[i][9] / 2000
                );

                dataTransaction[i] = [
                  ...dataTransaction[i],
                  poin,
                  pembulatan_poin,
                ];
                temp.push([dataCustomer[b][2], kelas, ...dataTransaction[i]]);
                continue;
              }
            }
          }
        }

        let removeUndefined = temp
          .map((arr, index) => {
            let nomor = index + 1;
            arr = [nomor, ...arr];
            const remove = arr.filter((val) => val !== undefined);

            if (remove.length > 8) {
              return remove;
            }

            // return remove;
          })
          .filter((val) => val !== undefined);
        console.log(removeUndefined);

        this.listData.push(...removeUndefined);
      };

      reader.readAsBinaryString(files[0]);

      this.files.push(...files);
    },
    dragover(e) {
      e.preventDefault();
      this.isDragging = true;
    },
    dragleave() {
      this.isDragging = false;
    },
    drop(e) {
      e.preventDefault();
      e.target.files = e.dataTransfer.files;
      this.onChange(e);
      this.isDragging = false;
    },
    selectPage(value) {
      const firstPagination = this.limitRow - 5;
      const lastPagination = this.limitRow;

      if (value % 6 == 0) {
        if (value == firstPagination && firstPagination != 1) {
          this.limitRow -= 6;
        }

        if (value == lastPagination) {
          this.limitRow += 6;
        }
      }

      this.page = value;
    },
    nextPage() {
      if (this.page < this.totalPages) {
        this.page++;
      }
    },
    prevPage() {
      if (this.page > 1) {
        this.page--;
      }
    },
    formatRp(idrAmount) {
      return (
        "Rp. " + idrAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      );
    },
    exportAllData() {
      // Create a new workbook
      const wb = XLSX.utils.book_new();

      // Convert the data array to a worksheet
      const addColumn = [
        "No",
        "Nama",
        "Kelas",
        "Kode",
        "Total Transaksi",
        "Jml Bayar Tunai",
        "Jml Bayar Kredit",
        "Jml Bayar K. Debit",
        "Jml Bayar K. Kredit",
        "Poin",
        "Pembulatan Poin",
      ];
      const ws = XLSX.utils.aoa_to_sheet([addColumn, ...this.listData]);

      // Add the worksheet to the workbook
      XLSX.utils.book_append_sheet(wb, ws, "data-master-poin");

      // Export the workbook to an Excel file
      XLSX.writeFile(wb, "data.xlsx");
    },

    exportSortClassData() {
      const wb = XLSX.utils.book_new();

      const column = [
        "No",
        "Nama",
        // "Kelas",
        "Kode",
        "Total Transaksi",
        "Jml Bayar Tunai",
        "Jml Bayar Kredit",
        "Jml Bayar K. Debit",
        "Jml Bayar K. Kredit",
        "Poin",
        "Pembulatan Poin",
      ];

      for (let i = 0; i < this.listData.length; i++) {
        const keyKelas = this.listData[i][2];
        if (!this.allClass.hasOwnProperty(keyKelas)) {
          this.allClass[keyKelas] = [];
        }
        this.allClass[keyKelas].push(this.listData[i]);
      }

      for (const key in this.allClass) {
        const value = this.allClass[key];

        // Create new arrays with index 2 removed
        const removeKelas = value.map((item) => {
          return item.filter((_, index) => index !== 2);
        });

        // Transform each object into an array of values
        const data = removeKelas.map((obj) => Object.values(obj));

        // Insert column headers as the first row
        data.unshift(column);

        console.log("data", data);

        const ws = XLSX.utils.aoa_to_sheet(data);

        XLSX.utils.book_append_sheet(wb, ws, key);
      }

      XLSX.writeFile(wb, "data.xlsx");
    },
    downloadSampelData() {
      const link = document.createElement("a");
      link.href = "../assets/files/data.xlsx";
      link.target = "_blank";
      link.download = "data.xlsx";

      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
  },
};
</script>
<style>
.main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.dropzone-container {
  padding: 4rem;
  background: #f7fafc;
  border: 1px solid #e2e8f0;
}

.hidden-input {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.file-label {
  font-size: 20px;
  display: block;
  cursor: pointer;
}

.preview-container {
  display: flex;
  margin-top: 2rem;
}

.preview-card {
  display: flex;
  border: 1px solid #a2a2a2;
  padding: 5px;
  margin-left: 5px;
}

.preview-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #a2a2a2;
  background-color: #a2a2a2;
}
</style>
