@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

body {
  background-color: rgb(241, 241, 241);
  /* background-color: black; */
}
